.region.focus .outline {
    fill: rgba(0, 0, 0, 0.08);
    stroke-width: 0;
}
.region:hover .outline{
    fill: rgba(0, 0, 0, 0.06);
    stroke-width: 0;
    cursor: pointer;
}

.region:hover{
    cursor: pointer;
}
